<div>
    <p class="activitytitle">活跃用户(人)</p>
    <p class="activitySum">$!{activityNum}</p>
</div>
<div>
    <p class="activitytitle">新增用户(人)</p>
    <p class="activitySum">$!{fissionEffectNewPeopleNum}</p>
</div>
<div>
    <p class="activitytitle">订单量(笔)</p>
    <p class="activitySum">$!{orderNum}</p>
</div>
<div>
    <p class="activitytitle">成交额(元)</p>
    <p class="activitySum">$!{turnover}</p>
</div>