<div>
    <p class="activitytitle">成交额(元)</p>
    <p class="activitySum">$!{turnover}</p>
</div>
<div>
    <p class="activitytitle">ARPU(每用户平均收入)</p>
    <p class="activitySum">$!{arpuNum}</p>
</div>
<div>
    <p class="activitytitle">CAC(获客成本)</p>
    <p class="activitySum">$!{cacNum}</p>
</div>
<div>
    <p class="activitytitle">ROI</p>
    <p class="activitySum">$!{averageRebateNum}%</p>
</div>
