<div data-iden="totalActivityNumView" data-num="点击次数">
    <p class="activitytitle">活跃度(点击次数)</p>
    <p class="activitySum">$!{activityNum}</p>
</div>
<div data-iden="totalSpreadRangeNumView" data-num="活跃用户">
    <p class="activitytitle">活跃用户(人)</p>
    <p class="activitySum">$!{spreadRangeNum}</p>
</div>
<div data-iden="totalFissionEffectNewPeopleNumView" data-num="新增用户">
    <p class="activitytitle">裂变效果(新增用户)</p>
    <p class="activitySum">$!{fissionEffectNewPeopleNum}</p>
</div>
<div data-iden="totalSharePeopleNumView" data-num="分享人数">
    <p class="activitytitle">传播热度(分享人数)</p>
    <p class="activitySum">$!{sharePeopleNum}</p>
</div>