<style>
    table{width: calc(100% - 10px)!important;margin0 auto;border: 1px solid #555555; margin: 1px; border-collapse: collapse; }
    table td,table th{border: 1px solid #555555;text-align: center;}
</style>
<div class="contain_main_head" style="" id="contain_main_head">
    <div class="dateSelect">
        <input type="radio" name="chose" class="Nearly7days"> 近7日
    </div>
    <div class="dateSelect">
        <input type="radio" name="chose" class="todayTime"> 今日
    </div>
    <div class="dateSelect">
        <input type="radio" name="chose" class="yesterdayTime"> 昨日
    </div>
    <div class="dateSelect">
        <input type="radio" name="chose" class="userdefined"> 自定义
    </div>
    <div class="refreshData" id="refreshData">
        刷新数据
    </div>
    <div class="contain_main_title">
        <span class="title"></span><span><span class="time1">2018-07-02</span>至<span
            class="time2">2017-07-02</span>数据</span>
    </div>
</div>

<div class="datePicker">
    <input type="text" class="demo-input" placeholder="开始时间" id="startTime"> 至 <input type="text"
                                                                                      class="demo-input"
                                                                                      placeholder="结束时间"
                                                                                      id="endTime">
</div>
<div class="contain_main_content">
    <div class="contain_main_data" id="contain_main_data">

    </div>


    <div class="contain_main_graph">
        <div class="titles">
            <span>日活趋势</span>
            <img src="/static/service/images/login/download.png" alt="" class="downloadPng" data-name="linePng">
        </div>
        <div class="graphs" id="main_Lines"></div>
    </div>
    <div class="contain_main_chart">
        <div>
            <div class="titles">
                <span>用户转化漏斗</span>
                <img src="/static/service/images/login/download.png" alt=""  class="downloadPng" data-name="piePng">
            </div>
            <div class="graphs" id="main_funnel"></div>
        </div>
        <div>
            <div class="titles">
                <span>新老用户成交占比</span>
                <img src="/static/service/images/login/download.png" alt=""  class="downloadPng" data-name="piePng">
            </div>
            <div class="graphs" id="main_pie"></div>
        </div>
        <div>
            <div class="titles">
                <span>用户邀请排行</span>
                <img src="/static/service/images/login/download.png" alt="" class="downloadPng" data-name="piePng">
            </div>
            <div class="graphs" id="main_Lbar"></div>
        </div>
        <div>
            <div class="titles">
                <span>用户留存率</span>
                <img src="/static/service/images/login/download.png" alt="" class="downloadPng" data-name="piePng">
            </div>
            <div class="graphs" id="main_Table"></div>
        </div>
    </div>


</div>


<script src="/static/plugins/common/smallProgram.js"></script>