<div class="contain_main_head" style="" id="contain_main_head">
    <div class="dateSelect">
        <input type="radio" name="chose" class="Nearly7days"> 近7日
    </div>
    <div class="dateSelect">
        <input type="radio" name="chose" class="todayTime"> 今日
    </div>
    <div class="dateSelect">
        <input type="radio" name="chose" class="yesterdayTime"> 昨日
    </div>
    <div class="dateSelect">
        <input type="radio" name="chose" class="userdefined"> 自定义
    </div>
    <div class="refreshData" id="refreshData">
        刷新数据
    </div>
    <div class="contain_main_title">
        <span class="title"></span><span><span class="time1">2018-07-02</span>至<span
            class="time2">2017-07-02</span>数据</span>
    </div>
</div>

<div class="datePicker">
    <input type="text" class="demo-input" placeholder="开始时间" id="startTime"> 至 <input type="text"
                                                                                      class="demo-input"
                                                                                      placeholder="结束时间"
                                                                                      id="endTime">
</div>
<div class="contain_main_content" style="overflow-y: scroll;height: calc(100% - 80px)">
    <div class="contain_main_data" id="contain_main_data">
        <div data-iden="totalActivityNumView">
            <p class="activitytitle">活跃度(点击次数)</p>
            <p class="activitySum">6705</p>
        </div>
        <div data-iden="totalSpreadRangeNumView">
            <p class="activitytitle">活跃用户(人)</p>
            <p class="activitySum">4200</p>
        </div>
        <div data-iden="totalFissionEffectNewPeopleNumView">
            <p class="activitytitle">裂变效果(新增用户)</p>
            <p class="activitySum">560</p>
        </div>
        <div data-iden="totalShareNumView">
            <p class="activitytitle">传播热度(分享人数)</p>
            <p class="activitySum">300</p>
        </div>
    </div>
    <div class="contain_main_graph">
        <div class="titles">
            <span>日活趋势</span>
            <img src="/static/service/images/login/download.png" alt="">
        </div>
        <div class="graphs" id="main_graphs"></div>
    </div>
    <div class="contain_main_chart">
        <div>
            <div class="titles">
                <span>用户转化漏斗</span>
                <img src="/static/service/images/login/download.png" alt="">
            </div>
            <div class="graphs" id="main_bar"></div>
        </div>
        <div>
            <div class="titles">
                <span>新老用户成交占比</span>
                <img src="/static/service/images/login/download.png" alt="">
            </div>
            <div class="graphs" id="main_pie"></div>
        </div>
        <div>
            <div class="titles">
                <span>用户邀请排行</span>
                <img src="/static/service/images/login/download.png" alt="">
            </div>
            <div class="graphs" id="main_map"></div>
        </div>
        <div>
            <div class="titles">
                <span>用户留存率</span>
                <img src="/static/service/images/login/download.png" alt="">
            </div>
            <div class="graphs" id="main_Lbar"></div>
        </div>
    </div>


</div>


<script src="/static/plugins/common/smallProgram.js"></script>